
html {
    --section-background-color: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.582),
      rgba(12, 8, 24, 0.904)
    );
  }
  
  /* #f50057 */
  
  .app{
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #202124;
    color: whitesmoke;
  }